<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required for creating graphs -->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- semantic UI -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <title>Dashboard Try</title>
</head>
<body>

    <div style="height: 500px; width: 500px;">

        <div>
            <canvas id="myChart"></canvas>
          </div>
          
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          
          <script>
            const ctx = document.getElementById('myChart');
          
            new Chart(ctx, {
              type: 'bar',
              data: {
                labels: [ {% for line in data %} '{{line.name}}', {% endfor %} ],
                datasets: [{
                  label: 'Trial Bar graph',
                  data: [{% for line in data %} '{{line.quantity}}', {% endfor %}],
                  borderWidth: 1
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
          </script>

    </div>

    <br>

    <div style="height: 500px; width: 500px;">

      <div>
          <canvas id="myChart1"></canvas>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        
        
          <script>
            const ctx1 = document.getElementById('myChart1');
          
            new Chart(ctx1, {
              type: 'doughnut',
              data: {
                title: {
                    display: true,
                    text: 'Products Description',
                },
                labels: ['Mens', 'Womens' , 'Kids'],
                datasets: [{
                  label: 'Product Count',
                  data: [{% for j in doghnut_data.values %}{{j}}, {% endfor %}],
                  borderWidth: 1
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
          </script>

  </div>

    
    
</body>
</html>