<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/navbar.css">
    <link rel="stylesheet" href="/static/landing.css">
    <link rel="stylesheet" href="/static/land.css">
    <link rel="stylesheet" href="/static/cart.css">
    
    
</head>
<body>
    <div id="navbar">
        <div>
          <a href="/landing/"><img src="/media/images/logo.png"></a>
        </div>
        
        
        <div id="products_page">
            <div><a href="/mens/" style="color: black; text-decoration: none">MEN</a></div>
            <div><a href="/women/" style="color: black; text-decoration: none">WOMEN</a></div>
            <div><a href="/kids/" style="color: black; text-decoration: none">KIDS</a></div>
        </div>
        
        <div>
            <input type="text" name="search" id="search-bar" placeholder="Search for products, brands & more">
        </div>
        &emsp;&emsp;
        <div >
            <img src="/media/images/cartt.png" alt="Profile Picture" >
        </div>
        &emsp;&emsp;
        <div >
            <img src="/media/images/proh.png" alt="Profile Picture" >
        </div>
        <div id="login_Status">
        </div>
    </div>
    <div id="item-container">
      {% for i in '123456'|make_list %}
      <div class="card" style='display: inline-block;'>
        
        <img src="https://lh6.googleusercontent.com/7Y01t1mFv1dSRKfUXTeaC0pXdgaVYMFDKY_j_smRglWjnHqTZZBdoVXRt8tLle2DeubZC7gJ5yGgsakwkd18Oi4-t4OD2vWHXHL7gl5BAmwhAtqkxl0wkJYgj5I09KpoVqKlsC1i" alt="Denim Jeans" style="width:100%">
        <h1>Tailored Jeans</h1>
        <p class="price">$19.99</p>
        <p>Some text about the jeans..</p>
        <p><button>Add to Cart</button></p>
      </div>&emsp;&emsp;&emsp;&emsp;
      {% endfor %} &emsp;
    </div>

    </div>
    <div id="end-container">
        <footer class="footer">
            <div class="footer__addr">
              <h1 class="footer__logo">One Stop</h1>
                  
              <h2>Contact</h2>
              
              <address>
                5534 Somewhere In. The World 22193-10212<br>
                    
                <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
              </address>
            </div>
            
            <ul class="footer__nav">
              <li class="nav__item">
                <h2 class="nav__title">Media</h2>
          
                <ul class="nav__ul">
                  <li>
                    <a href="#">Online</a>
                  </li>
          
                  <li>
                    <a href="#">Print</a>
                  </li>
                      
                  <li>
                    <a href="#">Alternative Ads</a>
                  </li>
                </ul>
              </li>
              
              <li class="nav__item nav__item--extra">
                <h2 class="nav__title">Technology</h2>
                
                <ul class="nav__ul nav__ul--extra">
                  <li>
                    <a href="#">Hardware Design</a>
                  </li>
                  
                  <li>
                    <a href="#">Software Design</a>
                  </li>
                  
                  <li>
                    <a href="#">Digital Signage</a>
                  </li>
                  <li class="nav__item--extra">
                  <h2 class="nav__title">Cars</h2>
                  <li>
                    <a href="#">Automation</a>
                  </li>
                  
                  <li>
                    <a href="#">Artificial Intelligence</a>
                  </li>
                  
                  <li>
                    <a href="#">IoT</a>
                  </li>
                </ul>
              </li>
              
              <li class="nav__item">
                <h2 class="nav__title">Legal</h2>
                
                <ul class="nav__ul">
                  <li>
                    <a href="#">Privacy Policy</a>
                  </li>
                  
                  <li>
                    <a href="#">Terms of Use</a>
                  </li>
                  
                  <li>
                    <a href="#">Sitemap</a>
                  </li>
                </ul>
              </li>
            </ul>
            
            <div class="legal">
              <p>&copy; 2022 OneStop. All rights reserved.</p>
              
              <div class="legal__links">
                <span>Made with <span class="heart">♥</span> OneStop</span>
              </div>
            </div>
          </footer>

        </div>
        
</body>
</html>