{% load socialaccount %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- For the alert message -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>OneStop Sign-in</title>

<!-- Navbar -->
<link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <!-- Added to print the error or success messages -->
    {% if messages %}
                
            {% for message in messages %}

                    {% if message.tags == 'error' %} 
                        <!--Added from w3schools-->
                        <div class="alert alert-danger alert-dismissible fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Login Failed!!</strong> {{message}}
                        </div>
                    {% endif %}
            
                    {% if message.tags == 'success' %} 
                        <!--Added from w3schools-->
                        <div class="alert alert-success alert-dismissible fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{message}}</strong> 
                        </div>
                    {% endif %}
                    
                {% endfor %}
            
        {% endif %}
    <div id="navbar">
        <div id="left">
            <div>
                <a href="index.html">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Myntra_Logo.png">
            </a>
            </div>
            <div>
            <div> <a href="mens.html">MEN</a></div>
            <div> <a href="womens.html">WOMEN</a></div>
            <div> <a href="kids.html">KIDS</a></div>
            <div> <a href="Home&Living.html">HOME LIVING</a></div>
        </div>
        </div>

        <div id="right">
            <div>
                <input type="text" placeholder="Search for products,brands and more">
            </div>
            <div>
                <img src="https://static.vecteezy.com/system/resources/thumbnails/004/798/846/small/shopping-cart-logo-or-icon-design-vector.jpg">
            </div>
        </div>
    </div>
    <div id="signin_container">
        <!-- Action and method added -->
        <form method="post" action="landing/">
            {% csrf_token %}
            <h2>Sign In</h2>
            <label for="">Username</label><br />
            <input id="name" name="name" type="text" placeholder="Enter Username"><br />
            <label for="">Password</label><br />
            <input id="pass" name="pass" type="text" placeholder="Enter Password"><br />
           
            <input type="submit" value="Sign In" name="btn_name">
            
            <!--Please make sure to place this google icon in the right place-->
            <!-- href linked changed by pie -->
            <a class="oauth-container btn darken-4 white black-text" href="{% provider_login_url 'google'%}?next=/landing" style="text-transform:none">
                <div class="left">
                
                    <img style="margin-top:7px; margin-right:8px ;height:50px " alt="Google sign-in" src="/media/images/google_img.png"/>
                </div>
            </a>

            <p>Don't have an account? <a href="/signup/">Sign up</a> </p> 
        </form>
    </div>
    </body>

</html>