<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mens Page</title>
    <link rel="stylesheet" href="/static/mens_main.css">
    <link rel="stylesheet" href="/static/navbar.css">
    <link rel="stylesheet" href="/static/landing.css">
    <link rel="stylesheet" href="/static/land.css">
    <link rel="stylesheet" href="/static/cart.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
    <!-- Start of NavBar -->
    <div id="navbar">
        <div>
            <a href="/landing/"><img src="/media/images/logo.png"></a>
        </div>
        
        <div id="products_page">
            <div><a href="/mens/" style="color: black; text-decoration: none">MEN</a></div>
            <div><a href="/women/" style="color: black; text-decoration: none">WOMEN</a></div>
            <div><a href="/kids/" style="color: black; text-decoration: none">KIDS</a></div>
        </div>

        <div>
            <input type="text" name="search" id="search-bar" placeholder="Search for products, brands & more">
        </div>
        <div id="login_Status">
        </div>
    </div>
    <!-- End of Navbar -->

    {% for i in mens_products %}
      <div class="card" style="width: 18rem; display: inline-block; margin-left: 2.5rem;">
        <form method="post" action="/mens/">
            <img src="{{ i.image.url }}" class="card-img-top" alt="{{i.name}}" style="height: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ i.name }}</h5>
                <p class="card-text">{{ i.description }} </p>
                <p class="card-text">{{ i.price }}/- Rs</p>
                <input name="pid" class="card-text" hidden value='{{ i.product_id }}'/>
                <input type="submit" name="btn" class="btn btn-primary" value="Add to Cart">
            </div>
        </form>
      </div>
      {% endfor %}

</body>
</html>