{% extends 'seller_profile.html' %}

{% block seller_name %}

    {{seller_obj.name}}

{% endblock seller_name %}


{% block showhere %}

    <body style="padding: 20px 20px 20px 0;">

        {% if orders %}

            <div >
               
                {% for i in orders %}

                    <div style="border-radius: 10px; padding: 10px; border: 2px solid black;">

                        Customer Id: {{i.user_id}} <br><br>
                        Product Id: {{i.prod_id}} <br><br>
                        Product Name: {{i.title}} <br><br>
                        Product Price: ₹{{i.price}}/- <br><br>
                        Product Category: {{i.category}} <br><br>

                        <!-- Put cust_id and prod_id in the if form so that we can update the status of the product -->

                         
                        {% if i.status == 'Packed' %}
                            <form method="post" action="/sellerOrders/">
                                Order Status:
                                <select name="getStatus">
                                    <option value="Packed" selected>Packed</option>
                                    <option value="Dispatched">Dispatched</option>
                                    <option value="Out for Delivery">Out for Delivery</option>
                                    <option value="Delivered">Delivered</option>
                                </select>

                                <br><br>

                                <button type="submit">Update Status</button>
                            </form>
                        {% endif %}

                        {% if i.status == 'Dispatched' %}
                            Order Status:
                            <select name="getStatus">
                                <option value="Dispatched" selected>Dispatched</option>
                                <option value="Out for Delivery">Out for Delivery</option>
                                <option value="Delivered">Delivered</option>
                            </select>

                            <br><br>

                            <button type="submit">Update Status</button>
                        {% endif %}

                        {% if i.status == 'Out for Delivery' %}
                            Order Status:
                            <select name="getStatus">
                                <option value="Out for Delivery" selected>Out for Delivery</option>
                                <option value="Delivered">Delivered</option>
                            </select>

                            <br><br>

                            <button type="submit">Update Status</button>
                        {% endif %}

                    </div>

                    <br>
            
                {% endfor %}
            
            </div>
        
        {% else %}

            No orders are currently placed
            
        {% endif %}

        

    </body>

{% endblock showhere %}
    
