<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OneStop Sign-up</title>
    <!-- For the alert message -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/signup.css">
</head>
<body>
    <div id="navbar">
        <div id="left">
            <div>
                <a href="index.html">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Myntra_Logo.png">
            </a>
            </div>
            <div>
            <div> <a href="mens.html">MEN</a></div>
            <div> <a href="womens.html">WOMEN</a></div>
            <div> <a href="kids.html">KIDS</a></div>
            <div> <a href="Home&Living.html">HOME LIVING</a></div>
        </div>
        </div>

        <div id="right">
            <div>
                <input type="text" placeholder="Search for products,brands and more">
            </div>
            <div>
                <img src="https://static.vecteezy.com/system/resources/thumbnails/004/798/846/small/shopping-cart-logo-or-icon-design-vector.jpg">
            </div>
        </div>
    </div>
    <div id="signup_container">
        <form method="post" action="/landing/">
            {% csrf_token %}
            <h2>Sign Up</h2>
            <label for="">Username</label><br />
            <input id="uname" name="uname" type="text" placeholder="Enter Username"><br />
            <label for="" >Email</label><br />
            <input id="email" name="email" type="text" placeholder="Enter Email"><br />
            <label for="">Password</label><br />
            <input id="pass" name='pass' type="text" placeholder="Enter Password"><br />
        
            <p>By signing up, I accept the Myntra<a href="https://www.myntra.com/termsofuse">Terms of 
                Services</a> and acknowlwdge the <a href="https://www.myntra.com/faqs#shipping">Privacy Policy</a>. </p>
                <input type="submit" value="Sign up" name='btn_name'>
            <p>Already have an account? <a href="/">Sign in</a></p>
        </form>
    </div>
</body>
</html>