<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
        This is it
    {% else %}
        Hat sale!!
        
        <form method="post" action="accounts/login/">
            {% csrf_token %}
            <input type="submit" name="click">
        </form>
    {% endif %}
</body>
</html>